BassieCreditApplication/BassieCreditApplication-war/src/conf/xml-resources/web-service-references/CustomerServices/wsdl/localhost_8080/CustomerService/CustomerServices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.web.customerservice.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.web.customerservice.org/">

<xs:element name="createClientAccount" type="tns:createClientAccount"/>

<xs:element name="createClientAccountResponse" type="tns:createClientAccountResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="createClientAccount">
<xs:sequence>
<xs:element name="createClientAccountRequest" type="tns:createClientAccountRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createClientAccountRequest">
<xs:sequence>
<xs:element name="contactNumber" type="xs:long"/>
<xs:element name="emailAddress" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="idNumber" type="xs:long"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createClientAccountResponse">
<xs:sequence>
<xs:element name="return" type="tns:createClientAccountServiceResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createClientAccountServiceResponse">
<xs:sequence>
<xs:element name="clientAccountNumber" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>